<!DOCTYPE html>
<html>

<head>
   <title>GIVVEN(기쁜)</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="public/css/charity_shop_main_style.css">
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

   <script>
      var item_list;
      var i;

      $.ajax({
         type: 'GET',
         url: "/item/items",
         xhrFields: {
            withCredentials: true
         },
      }).success(function (response) {
         console.log(response);
         item_list = response.data;

         i = 0;
         if (item_list.length == 0) {
            $("#items").append("<p class = " + "no_data" + ">현재 판매중인 물품이 없어요..</p>");
         } else {
            while (i < item_list.length) {
               $("#items").append(
                  '<div class="card">' +
                     '<img src="'+item_list[i].title_img+'">' +
                     '<div class="menu">' +
                        '<h3>'+item_list[i].name+'</h3>' +
                        '<p>'+item_list[i].price+'p</p>' +
                     '</div>' +
                  '</div>');
               
               i = i + 1;
            }
         }
         $("#items").append('<div class="clearfix" style="clear: left"></div>');
      });
   </script>



</head>

<body>
   <div id="navbar">
      <div id='top_navbar'>
         <div id='logo'>
            <img src='public/images/logo.png'>
         </div>
         <ul id='menu'>
            <li><a href='charity_mypage_main'><b>마이페이지</b></a></li>
            <li><a href='/auth/logout'><b>로그아웃</b></a></li>
         </ul>
      </div>
      <div id="second_navbar">
         <ul id='menu'>
            <li><a href='charity_campaign_make' id="make_campaign"><b>캠페인 등록</b></a></li>
            <li><a href='charity_shop_main' id="go_purchase"><b>상점가기</b></a></li>
         </ul>
         <a href='normal_donation_main' id="change_normal"><b> 일반유저로 전환 </b></a>
      </div>
   </div>
   <div id="third_bar">
      <div id="recommand_header"><b>현재 판매중인 기부 물품들이에요!</b></div>
      <div id="search-bar">
         <input type="text" name="search" class="search-keyword" placeholder="어떤 기부 물품을 구매하고 싶으신가요?">
         <button type="submit" class="submit-btn"><img src='public/images/search_btn.png'></button>
      </div>
   </div>

   <div id='items'>
   </div>


   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
</body>

</html>