<!DOCTYPE html>
<html>

<head>
   <title>GIVVEN(기쁜)</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="public/css/charity_campaign_make_style.css">
</head>

<body>
   <div id="navbar">
      <div id='top_navbar'>
         <div id='logo'>
            <img src='public/images/logo.png'>
         </div>
         <ul id='menu'>
            <li><a href='#'><b>마이페이지</b></a></li>
            <li><a href='#'><b>로그아웃</b></a></li>
         </ul>
      </div>
      <div id="second_navbar">
         <ul id='menu'>
            <li><a href='#' id="make_campaign"><b>캠페인 등록</b></a></li>
            <li><a href='#' id="go_purchase"><b>상점가기</b></a></li>
         </ul>
         <a href='#' id="change_normal"><b> 일반유저로 전환 </b></a>
      </div>
   </div>

   <div id="container">
      <h2>캠페인 등록</h2>
      <div id="campaign_info">
         <div class="input-group mb-3">
            <div class="input_img">
               <img src="public/images/noImg.jpg" id = "inputImg">   
               <div class="search_file">
                  <input type="file" class="custom-file-input" id="inputImgFile">
                  <label class="custom-file-label" for="inputImgFile">대표이미지 등록</label>
               </div>
            </div>
         </div>
         <div class = "input_explain">캠페인명</div>
         <input type="text" name="name" class="input_data" id = "campaign_name">
         <div class = "input_explain">캠페인 목표 모금액</div>
         <input type="text" name="price" class="input_data" id = "campaign_price">
         <div class = "input_explain">캠페인 모금 마감 기한</div>
         <input type="text" name="endtime" class="input_data" id = "campaign_end">
         <div class = "input_explain">캠페인 모금 상세 소개</div>
         <input type="text" name="detail" class="input_data" id = "campaign_detail">
         
         <button type="submit" class="submit-btn">등록하기</button>
      </div>
   </div>



   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
</body>

</html>