<!DOCTYPE html>
<html>

<head>
   <title>GIVVEN(기쁜)</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="public/css/charity_mypage_main_style.css">
</head>

<body>
   <div id="navbar">
      <div id='top_navbar'>
         <div id='logo'>
            <a href="normal_donation_main"><img src="public/images/logo.PNG"></a>
         </div>
         <ul id='menu'>
            <li><b>사회단체입니다.</b></li>
            <li><a href='/auth/logout'><b>로그아웃</b></a></li>
         </ul>
      </div>
      <div id="second_navbar">
         <ul id='menu'>
            <li><a href='charity_campaign_make' id="make_campaign"><b>캠페인 등록</b></a></li>
            <li><a href='charity_shop_main' id="go_purchase"><b>상점가기</b></a></li>
            <li><a href='charity_mypage_main'><b>마이페이지</b></a></li>
         </ul>
         <a href='normal_donation_main' id="change_normal"><b> 홈으로 </b></a>
      </div>
   </div>
   <div id=container>
      <div id=myCampaigns>
         <b>내 등록 캠페인</b>
         <div class="card_list">
         </div>
      </div>
      <div id=finishCampaigns>
         <b>완료된 캠페인</b>
         <div class="card_list">
         </div>
      </div>
      <div id=orderGoods>
         <b>주문내역</b>
      </div>
   </div>


   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

   <script>
      var current_campaign_list;
      var ended_campaign_list;
      var order_goods_list;
      var i;

      $.ajax({
         type: 'GET',
         url: "/campaign/myCampaigns/ing",
         xhrFields: {
            withCredentials: true
         },
      }).success(function (response) {
         console.log(response);
         current_campaign_list = response.data;
         console.log(current_campaign_list);

         if (current_campaign_list.campaigns.length == 0) {
            $("#myCampaigns .card_list").append("<p class = " + "no_data" + ">모금중인 캠페인이 없어요..</p>");
         } else {
            i = 0;
            while (i < current_campaign_list.campaigns.length) {
               $("#myCampaigns .card_list").append(
                  "<a href = 'charity_campaign_detail?id=" + current_campaign_list.campaigns[i].id + "'>" +
                  "<div class='card'>" +
                  "<img src='" + current_campaign_list.campaigns[i].title_img + "'>" +
                  "<div class='menu'>" +
                  "<h3>" + current_campaign_list.campaigns[i].name + "</h3>" +
                  "<p>" + current_campaign_list.campaigns[i].current_money + "p / " + current_campaign_list
                  .campaigns[i].dest_money + "p</p>" +
                  "<div class='progress'>" +
                  "<div class='progress-bar progress-bar-striped' role='progressbar' style='width: " +
                  current_campaign_list.campaigns[i].current_money / current_campaign_list.campaigns[i]
                  .dest_money * 100 + "%'" +
                  "aria-valuenow='" + current_campaign_list.campaigns[i].current_money / current_campaign_list
                  .campaigns[i].dest_money * 100 + "' aria-valuemin='0' aria-valuemax='100'>" +
                  current_campaign_list.campaigns[i].current_money / current_campaign_list.campaigns[i]
                  .dest_money * 100 + "%</div>" +
                  "</div>" +
                  "</div>" +
                  "</div>" +
                  "<a>");

               i = i + 1;
            }
            $(".card_list").append('<div class="clearfix" style="clear: left"></div>');
         }

      });

      $.ajax({
         type: 'GET',
         url: "/campaign/myCampaigns/end",
         xhrFields: {
            withCredentials: true
         },
      }).success(function (response) {
         console.log(response);
         ended_campaign_list = response.data;
         console.log(ended_campaign_list);

         if (ended_campaign_list.campaigns.length == 0) {
            $("#finishCampaigns .card_list").append("<p class = " + "no_data" + ">모금종료된 캠페인이 없어요..</p>");
         } else {
            i = 0;
            while (i < ended_campaign_list.campaigns.length) {
               var used_money = ended_campaign_list.campaigns[i].used_money;
               var current_money = ended_campaign_list.campaigns[i].current_money;
               if (current_money == 0) {
                  $("#finishCampaigns .card_list").append(
                     '<a href = "charity_campaign_detail?id=' + ended_campaign_list.campaigns[i].id + ' ">' +
                     '<div class="card">' +
                     '<img src="' + ended_campaign_list.campaigns[i].title_img + '">' +
                     '<div class="menu">' +
                     '<h3>' + ended_campaign_list.campaigns[i].name + '</h3>' +
                     '<p>' + ended_campaign_list.campaigns[i].current_money + 'p / ' + ended_campaign_list
                     .campaigns[i].dest_money + 'p</p>' +
                     "<div class='progress'>" +
                     "<div class='progress-bar progress-bar-striped' role='progressbar' style='width: " +
                     ended_campaign_list.campaigns[i].current_money / ended_campaign_list.campaigns[i].dest_money * 100 + "%'" +
                     "aria-valuenow='" + ended_campaign_list.campaigns[i].current_money / ended_campaign_list.campaigns[i].dest_money * 100 + 
                     "' aria-valuemin='0' aria-valuemax='100'>" +
                     ended_campaign_list.campaigns[i].current_money / ended_campaign_list.campaigns[i].dest_money * 100 + "%</div>" +
                     "</div>" +
                     '</div>' +
                     '</div>' +
                     '</a>'
                  );
               } else {
                  $("#finishCampaigns .card_list").append(
                     '<a href = "charity_campaign_detail?id=' + ended_campaign_list.campaigns[i].id + ' ">' +
                     '<div class="card">' +
                     '<img src="' + ended_campaign_list.campaigns[i].title_img + '">' +
                     '<div class="menu">' +
                     '<h3>' + ended_campaign_list.campaigns[i].name + '</h3>' +
                     '<p>' + used_money + 'p / ' + current_money + 'p</p>' +
                     '<div class="progress">' +
                     '<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: ' +
                     (used_money / current_money * 100) + '%"' +
                     'aria-valuenow="' + (used_money / current_money * 100) +
                     '" aria-valuemin="0" aria-valuemax="100">' +
                     (used_money / current_money * 100) + '%</div>' +
                     '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: ' +
                     (100 - (used_money / current_money * 100)) + '%"' +
                     'aria-valuenow="' + (100 - (used_money / current_money * 100)) +
                     '" aria-valuemin="0" aria-valuemax="100"></div>' +
                     '</div>' +
                     '</div>' +
                     '</div>' +
                     '</a>'
                  );
               }
               i = i + 1;
            }
            $(".card_list").append('<div class="clearfix" style="clear: left"></div>');
         }
      });

      $.ajax({
         type: 'GET',
         url: "/tradeLog/myOrders",
         xhrFields: {
            withCredentials: true
         },
      }).success(function (response) {
         console.log(response);
         order_goods_list = response.data;
         if (order_goods_list.length === 0) {
            $("#orderGoods").append(
               '<p>구매 내역이 없습니다.</p>' +
               '<div class="clearfix" style="clear: left"></div>'
            );
         } else {
            $("#orderGoods").append(
               '<table class="table">' +
               '<thead>' +
               '<tr>' +
               '<th scope="col" style="width: 15%;">구매 캠페인</th>' +
               '<th scope="col">거래 품목</th>' +
               '<th scope="col" style="width: 13%;">거래처</th>' +
               '<th scope="col" style="width: 9%;">물품 개수</th>' +
               '<th scope="col" style="width: 9%;">물품 가격</th>' +
               '<th scope="col" style="width: 9%;">물품 총 가격</th>' +
               '<th scope="col" style="width: 13%;">구매 날짜</th>' +
               '<th scope="col" style="width: 13%;" class = "tid">트랜잭션 ID</th>' +
               '</tr>' +
               '</thead>' +
               '<tbody class="table_body">' +
               '</tbody>' +
               '</table>');
         }
         i = 0;
         while (i < order_goods_list.length) {
            var date_tmp = order_goods_list[i].createdAt.split("T");
            var date = date_tmp[0];
            var tidstr = order_goods_list[i].transactionId + " ";
            var tid = tidstr.substr(0, 10) + "..."
            $(".table_body").append(
               '<tr>' +
               '<td>' + order_goods_list[i].consumer.name + '</td>' +
               '<td>' + order_goods_list[i].item.name + '</td>' +
               '<td>' + order_goods_list[i].seller.name + '</td>' +
               '<td>' + order_goods_list[i].orderCount + '</td>' +
               '<td>' + order_goods_list[i].item.price + 'p</td>' +
               '<td>' + (order_goods_list[i].orderCount * order_goods_list[i].item.price) + 'p</td>' +
               '<td>' + date + '</td>' +
               '<td><a href = "https://kovan.etherscan.io/tx/' + order_goods_list[i].transactionId +
               '" target="_blank">' + tid + '</a></td>' +
               '</tr>'
            );
            i = i + 1;
         }
      });
   </script>
</body>

</html>