<!DOCTYPE html>
<html>

<head>
   <title>GIVVEN(기쁜)</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="public/css/charity_mypage_main_style.css">
</head>

<body>
   <div id="navbar">
      <div id='top_navbar'>
         <div id='logo'>
            <img src='public/images/logo.png'>
         </div>
         <ul id='menu'>
            <li><a href='#'><b>마이페이지</b></a></li>
            <li><a href='#'><b>로그아웃</b></a></li>
         </ul>
      </div>
      <div id="second_navbar">
         <ul id='menu'>
            <li><a href='#' id="make_campaign"><b>캠페인 등록</b></a></li>
            <li><a href='#' id="go_purchase"><b>상점가기</b></a></li>
         </ul>
         <a href='#' id="change_normal"><b> 일반유저로 전환 </b></a>
      </div>
   </div>
   <div id=container>
      <div id=myCampaigns>
         <a href='#'><b>내 등록 캠페인</b></a>
         <div class="card_list">
            <div class="card">
               <img src="public/images/noImg.jpg">
               <div class="menu">
                  <h3>첫번째 캠페인</h3>
                  <p>3000p / 12000p</p>
                  <div class="progress">
                     <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id=finishCampaigns>
         <a href='#'><b>완료된 캠페인</b></a>
         <div class="card_list">
            <div class="card">
               <img src="public/images/noImg.jpg">
               <div class="menu">
                  <h3>첫번째 캠페인</h3>
                  <p>3000p / 12000p</p>
                  <div class="progress">
                     <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 25%"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                     <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id=orderGoods>
         <a href='#'><b>주문내역</b></a>
         <div class="card_list">
            <div class="card">
               <img src="public/images/noImg.jpg">
               <div class="menu">
                  <h3>물품A</h3>
                  <div class="campaign_name">
                     <h4>캠페인</h4>
                     <p>첫번째 캠페인</p>
                  </div>
                  <p>가격 : 200p</p>
                  <p>상세정보 : 물품 A 5개</p>
               </div>
            </div>
         </div>
      </div>
   </div>


   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
</body>

</html>