<!DOCTYPE html>
<html>
   <head>
      <title>로그인</title>
      <meta charset = "utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href = "public/css/log_in_style.css">
   </head>
   <body>
      <div id = 'top_navbar'>
         <div id = 'logo'>
           <a href = "normal_donation_main"><img src="public/images/logo.PNG"></a>
         </div>
         <ul id='menu'>
            <li><a href='sign_up'><b>회원가입</b></a></li>
          </ul>
       </div>

      <img class="logo-img" src = "public/images/logo.PNG">
      <!-- <div id = "btn_group">
         <button id="normal_btn"><b>일반 사용자</b></button>
         <button id="charity_btn"><b>사회 단체</b></button>
         <button id="seller_btn"><b>판매자</b></button>
      </div> -->
      <div class="login-form">
         <div>
           <div class="input_name"><b>아이디</b></div>
           <input type="text" id="email" class="text-field" placeholder="아이디를 입력해주세요.">
           <div class="input_name"><b>비밀번호</b></div>
           <input type="password" id="password" class="text-field" placeholder="비밀번호를 입력해주세요.">
           <button id="submit" class="submit-btn">로그인</button> 
         </div>
     
         <div class="links">
           <a href="sign_up">회원가입</a>
         </div>
         </div>
         
         
         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
         <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
         <script>
            $(function () {
               $('#submit').on("click", function () {
                  $.post("auth/login", {
                     email: $("#email").val(),
                     password: $("#password").val()
                  }, (data, status) => {
                     alert(data.msg);
                     if (data.res == 'fail');
                     else
                        window.location.href = '/';
                  });
               });
            });
         </script>
         </body>
      </html>