<!DOCTYPE html>
<html>

<head>
   <title>GIVVEN(기쁜)</title>
   <meta charset="utf-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="public/css/normal_donation_main_style.css">
</head>

<body>
   <div id="navbar">
      <div id='top_navbar'>
         <div id='logo'>
            <a href = "normal_donation_main"><img src="public/images/logo.PNG"></a>
         </div>
         <ul id='menu'>
         
         </ul>
      </div>
      <div id="second_navbar">
         <ul id='menu'>
            <li><a href='normal_donation_main' id="go_donate"><b>기부하기</b></a></li>
            <li><a href='normal_shop_main' id="go_purchase"><b>상점가기</b></a></li>
            <li><a href ="#none" onclick="mypage()" id="go_myapage"><b>My Page</b></a></li>
         </ul>
      </div>
   </div>
   <div id="third_bar">
      <div id="recommand_header"><b>이런 캠페인은 어때요?</b></div>
      <div id="search-bar">
         <input type="text" name="search" class="search-keyword" placeholder="어떤 기부를 원하시나요?">
         <button type="submit" class="submit-btn"><img src='public/images/search_btn.png'></button>
      </div>
   </div>

   <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      </ol>

      <div class="carousel-inner">
      </div>
   </div>

   <div id='container'>
      <div id='allCampaigns'>
         <a href='#'><b>진행중인 캠페인</b></a>
         <div id = "ing_campaign" class="card_list">
         </div>
      </div>

      <div id="finishCampaigns">
            <a href='#'><b>완료된 캠페인 </b></a>
            <div id ="end_campaign" class="card_list">
            </div>
         </div>
   </div>



   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
   </script>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

   <script>

   var mytype;

   $.ajax({
         type: 'GET',
         url: "/auth/isLoggedIn",
         xhrFields: {
            withCredentials: true
         },
         error : function(error){
            mytype = "guest";
            $('#menu').append("<li><a href='log_in'><b>로그인</b></a></li><li><a href='sign_up'><b>회원가입</b></a></li>");
         },
         success : function(response){
            mytype = response.type;
            if(mytype == "seller")
            {
               $('#menu').append("<li><b>판매자입니다.</b></li><li><a href='/auth/logout'><b>로그아웃</b></a></li>");
            }
            if(mytype == "normal")
            {
              $('#menu').append("<li><b>기부자입니다.</b></li><li><a href='/auth/logout'><b>로그아웃</b></a></li>");
            }
            if(mytype == "charity")
            {
               $('#menu').append("<li><b>사회단체입니다.</b></li><li><a href='/auth/logout'><b>로그아웃</b></a></li>");
            }
            
         },
         complete : function(){
         }
      })

   function mypage(){
      if(mytype == "guest")
      {
         alert("로그인이 필요합니다");
      }
      if(mytype == "seller")
      {
         window.location.href = "seller_mypage_main"
      }
      if(mytype == "normal")
      {
         window.location.href = "normal_mypage_main"
      }
      if(mytype == "charity")
      {
         window.location.href = "charity_mypage_main"
      }
   }


      var current_campaign_list;
      var i;

      $.ajax({
         type: 'GET',
         url: "/campaign/campaigns/ing",
         xhrFields: {
            withCredentials: true
         },
      }).success(function (response) {
         current_campaign_list = response.data;

         if (current_campaign_list.campaigns.length == 0) {
            $("#carouselIndicators").append("<p class = " + "no_data" + ">모금중인 캠페인이 없어요..</p>");
         } else {
            i = 0;
            var imgurl;
            while (i < current_campaign_list.campaigns.length) {imgurl = current_campaign_list.campaigns[i].title_img;
               if (i === 0) {
                  $(".carousel-indicators").append(
                     '<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>'
                  );
                  $(".carousel-inner").append(
                     '<a href = "normal_donation_detail?id='+current_campaign_list.campaigns[0].id+'">'+
                     '<div class="carousel-item no1 active">'+
                     '<button class="items" alt="First slide" id="first">'+
                     '<h2>'+current_campaign_list.campaigns[i].name+'</h2>'+
                     '<p>현재 '+current_campaign_list.campaigns[i].current_money+' 포인트! '+
                         '목표 모금 금액까지 '+
                         (current_campaign_list.campaigns[i].dest_money - current_campaign_list.campaigns[i].current_money)+
                         '포인트 남았습니다!</p>'+
                     '<div class="progress">'+
                     '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: '+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%"'+
                     'aria-valuenow="'+(current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'" aria-valuemin="0" aria-valuemax="100">'+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%달성</div>'+
                     '</div>'+
                     '</button>'+
                     '</div>'+
                     '</a>'
                  );
                  imgurl = current_campaign_list.campaigns[i].title_img;
                  $("#first").css("background-image", imgurl);
               } else if (i === 1) {
                  $(".carousel-indicators").append(
                     '<li data-target="#carouselIndicators" data-slide-to="1"></li>'
                  );
                  $(".carousel-inner").append(
                     '<a href = "normal_donation_detail?id='+current_campaign_list.campaigns[1].id+'">'+
                     '<div class="carousel-item no2">'+
                     '<button class="items" alt="Second slide" id="second">'+
                     '<h2>'+current_campaign_list.campaigns[i].name+'</h2>'+
                     '<p>현재 '+current_campaign_list.campaigns[i].current_money+' 포인트! '+
                         '목표 모금 금액까지 '+
                         (current_campaign_list.campaigns[i].dest_money - current_campaign_list.campaigns[i].current_money)+
                         '포인트 남았습니다!</p>'+
                     '<div class="progress">'+
                     '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: '+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%"'+
                     'aria-valuenow="'+(current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'" aria-valuemin="0" aria-valuemax="100">'+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%달성</div>'+
                     '</div>'+
                     '</button>'+
                     '</div>'+
                     '</a>'
                  );
                  imgurl = current_campaign_list.campaigns[i].title_img;
                  $("#second").css("background-image", imgurl);
               } else if (i === 2) {
                  $(".carousel-indicators").append(
                     '<li data-target="#carouselIndicators" data-slide-to="2"></li>'
                  );
                  $(".carousel-inner").append(
                     '<a href = "normal_donation_detail?id='+current_campaign_list.campaigns[2].id+'">'+
                     '<div class="carousel-item no3">'+
                     '<button class="items" alt="Third slide" id="third">'+
                     '<h2>'+current_campaign_list.campaigns[i].name+'</h2>'+
                     '<p>현재 '+current_campaign_list.campaigns[i].current_money+' 포인트! '+
                         '목표 모금 금액까지 '+
                         (current_campaign_list.campaigns[i].dest_money - current_campaign_list.campaigns[i].current_money)+
                         '포인트 남았습니다!</p>'+
                     '<div class="progress">'+
                     '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: '+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%"'+
                     'aria-valuenow="'+(current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'" aria-valuemin="0" aria-valuemax="100">'+
                     (current_campaign_list.campaigns[i].current_money/current_campaign_list.campaigns[i].dest_money*100)+'%달성</div>'+
                     '</div>'+
                     '</button>'+
                     '</div>'+
                     '</a>'
                  );
                  
                  $("#third").css("background-image", imgurl);
               }

               $("#ing_campaign").append(
                  '<a href = "normal_donation_detail?id='+current_campaign_list.campaigns[i].id+'">'+
                  "<div class='card'>" +
                  "<img src='" + imgurl + "'>" +
                  "<div class='menu'>" +
                  "<h3>" + current_campaign_list.campaigns[i].name + "</h3>" +
                  "<p>" + current_campaign_list.campaigns[i].current_money + "p / " + current_campaign_list
                  .campaigns[i].dest_money + "p</p>" +
                  "<div class='progress'>" +
                  "<div class='progress-bar progress-bar-striped' role='progressbar' style='width: " +
                  current_campaign_list.campaigns[i].current_money / current_campaign_list.campaigns[i]
                  .dest_money * 100 + "%'" +
                  "aria-valuenow='" + current_campaign_list.campaigns[i].current_money /
                  current_campaign_list.campaigns[i].dest_money * 100 +
                  "' aria-valuemin='0' aria-valuemax='100'>" + current_campaign_list.campaigns[i]
                  .current_money / current_campaign_list.campaigns[i].dest_money * 100 + "%</div>" +
                  "</div>" +
                  "</div>" +
                  "</div>"+
                  '</a>'
               );

               i = i + 1;
            }
            $("#ing_campaign").append('<div class="clearfix" style="clear: left"></div>');
         }
      });

      $.ajax({
               type: 'GET',
               url: "/campaign/campaigns/end",
               dataType: 'json',
               xhrFields: {
                  withCredentials: true
               },
               data: {
               }
         }).success(function (response2) {
            console.log(response2);
               for (var i in response2.data.campaigns) {
                  console.log(response2.data.campaigns[i]);
                  var img2 = document.createElement("img");
                  img2.setAttribute("src", response2.data.campaigns[i].title_img);

                  var cur_var = response2.data.campaigns[i].current_money / response2.data.campaigns[i].dest_money * 100;
                  $("#end_campaign").append("<a href = 'normal_donation_detail?index="+response2.data.campaigns[i].id+"'>"+
                  "<div id = 'endcard_"+response2.data.campaigns[i].id+"'class='card'>"+
                  "<div id = 'ec_"+response2.data.campaigns[i].id+"'class = 'image_container'>"+
                  "</div>"+
                  "<div class='menu'>"+
                  "<h3 id = 'camname_"+response2.data.campaigns[i].id+"'></h3>"+
                  "<p>"+response2.data.campaigns[i].current_money+" / "+response2.data.campaigns[i].dest_money+"</p>"+
                  "<div class='progress'>"+
                  "<div class='progress-bar progress-bar-striped' role='progressbar' style='width: "+cur_var+"%'"+
                  "aria-valuenow='"+cur_var+"' aria-valuemin='0' aria-valuemax='100'>"+cur_var+"%"+
                  "</div></div></div></div></a>");
                  $("#camname_"+response2.data.campaigns[i].id).append( response2.data.campaigns[i].name);
                  document.querySelector("#ec_"+response2.data.campaigns[i].id).appendChild(img2);
               }
               $("#end_campaign").append('<div class="clearfix" style="clear: left"></div>');
         });
   </script>

</body>

</html>