<!DOCTYPE html>
<html>
   <head>
      <title>GIVVEN(기쁜)</title>
      <meta charset = "utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/public/css/normal_main_style.css">
   </head>
   <body>
      <div id = "navbar">
         <div id = 'top_navbar'>
            <div id = 'logo'>
                <img src='/public/images/logo.png'>
            </div>
            <ul id='menu'>
                <li><a href='/loginPage'><b>로그인</b></a></li>
                <li><a href='/signupPage'><b>회원가입</b></a></li>
            </ul>
         </div>
         <div id = "second_navbar">
            <ul id='menu'>
                <li><a href='#' id = "go_donate"><b>기부하기</b></a></li>
                <li><a href='#' id = "go_purchase"><b>상점가기</b></a></li>
            </ul>
         </div>
      </div>
      <div id = "third_bar">
         <div id = "recommand_header"><b>이런 캠페인은 어때요?</b></div>
         <div id = "search-bar">
            <input type="text" name="search" class="search-keyword" placeholder="어떤 기부를 원하시나요?">
            <button type="submit" class="submit-btn"><img src='/public/images/search_btn.png'></button>
         </div>
      </div>
      
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
           <li data-target="#carouselIndicators" data-slide-to="1"></li>
           <li data-target="#carouselIndicators" data-slide-to="2"></li>
         </ol>

         <div class="carousel-inner">
           <div class="carousel-item no1 active">
             <div class="items" alt="First slide">
                캠페인 여기다 집어넣기
             </div>
           </div>
           <div class="carousel-item no2">
             <div class="items" alt="Second slide">
             </div>
           </div>
           <div class="carousel-item no3">
             <div class="items" alt="Third slide">
             </div>
           </div>
         </div>
      


       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   </body>
</html>