<!DOCTYPE html>
<html>
   <head>
      <title>GIVVEN(기쁜)</title>
      <meta charset = "utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href = "public/css/normal_donation_detail_donate_style.css">
   </head>
   <body>
      <div id = "navbar">
         <div id = 'top_navbar'>
            <div id = 'logo'>
                <img src='public/images/logo.PNG'>
            </div>
            <ul id='menu'>
                <li><b>기부자입니다.</b></li>
                <li><a href='/auth/logout'><b>로그아웃</b></a></li>
            </ul>
         </div>
         <div id = "second_navbar">
            <ul id='menu'>
                <li><a href='#' id = "go_donate"><b>기부하기</b></a></li>
                <li><a href='#' id = "go_purchase"><b>상점가기</b></a></li>
                <li><a href ="normal_mypage_main" onclick="mypage()" id="go_myapage"><b>My Page</b></a></li>
            </ul>
         </div>
      </div>

      <div id="container">
         <h2>후원 / 결제</h2>
         <h3>캠페인 정보</h3>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col" style="width: 20%;">캠페인 이미지</th>
                  <th scope="col">캠페인명</th>
                  <th scope="col" style="width: 30%;">후원 포인트</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td id="campaign_img"></td>
                  <td id="campaign_name"></td>
                  <td id="donation_value"></td>
               </tr>
            </tbody>
         </table>

         <h3>결제 정보</h3>
         <div id = "current_point">현재 포인트 : </div>
         <div id = "cost">총 결제 포인트 : </div>
         <div id = "remain_point">결제 후 잔여 포인트 : </div>
         <button type="submit" class="submit-btn">후원하기</button>
         <div class = "clearfix" style="clear: left"></div>
      </div>
      


       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <script>

         var temp = location.href.split("?");
         var data = temp[1].split("&");
         var id = data[0].split("=")[1];
         var point = data[1].split("=")[1];
         var campid;


         $.ajax({
         type: 'GET',
         url: "/campaign/detail/" + id,
         xhrFields: {
            withCredentials: true
         },
         async: false
         }).success(function (response) {
            console.log(response);
            $('#donation_value').append(point+"p");
            $('#campaign_name').append(response.data.name);
            $('#campaign_img').append("<img src = '"+response.data.title_img+"'>");
            $('#cost').append(point+"p");
         });

         $.ajax({
         type: 'GET',
         url: "/point",
         xhrFields: {
            withCredentials: true
         },
         async: false
         }).success(function (response) {
            $('#current_point').append(response.point+"p");
            $('#remain_point').append(response.point - point+"p");
         });
         


        $(function () {
         $('.submit-btn').on("click", function () {
             $.ajax({
               type: 'POST',
               url: "/campaign/donate",
               xhrFields: {
                  withCredentials: true
               },
               dataType: 'json',
               data:{
                  campaignId: id,
                  value: parseInt(point)
               },
               async: false
               }).success(function (response) {
                  console.log(response);
                  console.log(typeof parseInt(point));
                  alert("기부되었습니다");
                  window.location.href = "normal_donation_main";
               });
         });
         })
        </script>

   </body>
</html>