<!DOCTYPE html>

<html>
    <head>
        <title>GIVVEN(기쁜)</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/seller_mypage.css">
    </head>
    <body>
        <div id = "wrap">
            <div id = "navbar">
                <div id = "first_navbar">
                    <div id = "logo">
                        <a href = "seller_mypage.html"><img src="public/images/logo.PNG"></a>
                    </div>
                    <ul id = "f_menu">
                        <li><a href="log_in.html"><b>로그아웃</b></a></li>
                    </ul>
                </div>
                <div id = "second_navbor">
                    <ul id = "s_menu">
                        <li><a href="seller_add_goods.html" id = "add_goods"><b>상품 등록</b></a></li>
                        <li><a href="seller_mypage.html" id = "go_mypage"><b>My Page</b></a></li>
                    </ul>
                    <a href="normal_donation_main.html" id = "change_normal"><b>일반 전환</b></a>
                </div>
            </div>

            <div id = "state">
                <ul id = "pocket">
                    <li>내 지갑 : ~~포인트</li>
                    <li><a href="seller_exchange.html"><b>환전</b></a></li>
                </ul>
            </div>

            <div id = "container">

                <div id = "my-goods">
                    <a href="#"><p>내 등록 물품</p></a>
                    <div id="goods_card" class="card_list">
                        <div class="card">
                            <div class = "image_container">
                            <img src="public/images/noImg.jpg">
                            </div>
                            <div class="menu">
                                <p id="item_name">제품이름 : </p>
                                <p id="item_price">제품가격 : </p>
                                <p id="item_stock">재고수량 : </p>
                             </div>
                        </div>
                    </div>
                </div>

                <div id= "order-list">
                    <a href="#"><p>주문 목록</p></a>
                    <div  id="order_card" class="card_list">
                        <div class="card">
                            <img src="public/images/noImg.jpg">
                            <div class="menu">
                                <div class="campaign_name">
                                    <h3>캠페인</h3>
                                    <p>첫번째 캠페인</p>
                                </div>
                                <p id ="asd">물품A</p>
                                <p>개수 : </p>
                                <p>상세정보 : 물품 A 5개</p>
                             </div>
                        </div>
                    </div>                    
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <script>

        var img1 = document.createElement("img");
        img1.setAttribute("src", "public/images/noImg.jpg");

        $("#goods_card").append("<div class='card'>"+
            "<div class = 'image_container1'>"+
            "</div>"+
            "<div class='menu'>"+
            "<p id='item_name'>제품이름 : </p>"+
            "<p id='item_price'>제품가격 : </p>"+
            "<p id='item_stock'>재고수량 : </p>"+
            "</div></div>");

        document.querySelector(".image_container1").appendChild(img1);

        /*
         $.get("http://ec2-18-191-173-110.us-east-2.compute.amazonaws.com:8080//item/items", {
                        }, (response, status) => {
                            
                            var img = document.createElement("img");
                            img.setAttribute("src", response.data.title_img);

                            $(goods_card).append("<div class='card'>"+
                                "<div class = 'image_container"+response.data.id+"'>"+
                                "</div>"+
                                "<div class='menu'>"+
                                "<p id='"+response.data.id+"item_name'>제품이름 : "+response.data.name+"</p>"+
                                "<p id='"+response.data.id+"item_price'>제품가격 : "+response.data.price+"</p>"+
                                "<p id='"+response.data.id+"item_stock'>재고수량 : "+response.data.stock+"</p>"+
                                "</div></div>");
                            $("#item_name").append(response.data.name);
                            $("#item_price").append(response.data.price);
                            $("#item_stock").append(response.data.stock);
                            
                            document.querySelector("div#image_container").appendChild(image);

                        });*/

        var img2 = document.createElement("img");
        img2.setAttribute("src", "public/images/noImg.jpg");

        $("#order_card").append("<div class='card'>"+
            "<div class = 'image_container2'>"+
            "</div>"+
            "<div class='menu'>"+
            "<div class='campaign_name'>"+
            "<h3>캠페인</h3>"+
            "<p>첫번째 캠페인</p>"+
            "</div>"+
            "<p id ='asd'>물품A</p>"+
            "<p>개수 : </p>"+
            "<p>상세정보 : 물품 A 5개</p>"+
            "</div>");

        document.querySelector(".image_container2").appendChild(img2);
                                    
        /*order list api가 없는거같은데 어디있어요? 좀 주세요*/
                                
        </script>

    </body>
</html>