<!DOCTYPE html>

<html>
    <head>
        <title>GIVVEN(기쁜)</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/seller_mypage.css">
    </head>
    <body>
        <div id = "wrap">
            <div id = "navbar">
                <div id = "first_navbar">
                    <div id = "logo">
                        <a href = "seller_mypage"><img src="public/images/logo.PNG"></a>
                    </div>
                    <ul id = "f_menu">
                        <li><a href="normal_donation_main"><b>로그아웃</b></a></li>
                    </ul>
                </div>
                <div id = "second_navbor">
                    <ul id = "s_menu">
                        <li><a href="seller_add_goods" id = "add_goods"><b>상품 등록</b></a></li>
                        <li><a href="seller_mypage_main" id = "go_mypage"><b>My Page</b></a></li>
                    </ul>
                    <a href="normal_donation_main" id = "change_normal"><b>일반 전환</b></a>
                </div>
            </div>

            <div id = "state">
                <ul id = "pocket">
                    <li>내 지갑 : ~~포인트</li>
                    <li><a href="seller_mypage_exchange"><b>환전</b></a></li>
                </ul>
            </div>

            <div id = "container">

                <div id = "my-goods">
                    <a href="#"><p>내 등록 물품</p></a>
                    <div id="goods_card" class="card_list">
                        
                    </div>
                </div>

                <div id= "order-list">
                    <a href="#"><p>주문 목록</p></a>
                    <div  id="order_card" class="card_list">
                        
                    </div>                    
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <script>

            $.ajax({
                type: 'GET',
                url: "/item/myitems",
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                data: {},
                async: false
            }).success(function (response) {
                for (var i in response.data) {
                    console.log(response.data[i]);
                    var img1 = document.createElement("img");
                    img1.setAttribute("src", response.data[i].title_img);

                    $("#goods_card").append("<div id = 'item_"+response.data[i].id+"'class='card' onClick='item_click(this.id)'>"+
                        "<div id = 'ic_"+response.data[i].id+"' class = 'image_container'>"+
                        "</div>"+
                        "<div class='menu'>"+
                        "<p id='item_name'>제품이름 : "+response.data[i].name+"</p>"+
                        "<p id='item_price'>제품가격 : "+response.data[i].price+"</p>"+
                        "<p id='item_stock'>재고수량 : "+response.data[i].stock+"</p>"+
                        "</div></div>");

                    document.querySelector("#ic_"+response.data[i].id).appendChild(img1);
                }
            });
            $.ajax({
                type: 'GET',
                url: "/tradeLog/myOrders",
                dataType: 'json',
                xhrFields: {
                    withCredentials: true
                },
                data: {},
            }).success(function (response) {

                console.log(response);

                for (var i in response.data) {
                    console.log(response.data[i]);
                    var c_index = response.data[i].campaignId;
                    var i_index = response.data[i].itemId;
                    var img2 = document.createElement("img");

                    $("#order_card").append("<div id = 'order_"+response.data[i].id+"'class='card' onClick='order_click(this.id)'>"+
                        "<div id = 'oc_"+response.data[i].id+"'class = 'image_container'>"+
                        "</div>"+
                        "<div class='menu'>"+
                        "<div class='campaign_name'>"+
                        "<h3>캠페인</h3>"+
                        "<p id = 'c_name"+response.data[i].id+"'></p>"+
                        "</div>"+
                        "<p id = 'i_name"+response.data[i].id+"'>상품명 : </p>"+
                        "<p id = 'i_stock"+response.data[i].id+"'>개수 : </p>"+
                        "</div>");
                    
                    $.ajax({
                        type: 'GET',
                        url: "/campaign/detail/"+c_index,
                        dataType: 'json',
                        xhrFields: {
                            withCredentials: true
                        },
                        data: { },
                        async : false
                    }).success(function (response1) {
                         $("#c_name"+response.data[i].id).append(response1.data.name);
                    });


                    $.ajax({
                        type: 'GET',
                        url: "/item/detail/"+i_index,
                        dataType: 'json',
                        xhrFields: {
                            withCredentials: true
                        },
                        data: { },
                        async : false
                    }).success(function (response1) {
                        img2 = document.createElement("img");
                        img2.setAttribute("src", response1.data.title_img);
                        document.querySelector("#oc_"+response.data[i].id).appendChild(img2);

                         $("#i_name"+response.data[i].id).append(response1.data.name);
                    });

                    $("#i_stock"+response.data[i].id).append(response.data[i].orderCount);
                }
            });
        

    function item_click(card_id)
    {
        var arr = card_id.split('_');
        window.location.href = "seller_mypage_goods_detail?index=" + arr[1];
    }

    function order_click(card_id)
    {
        var arr = card_id.split('_');
        window.location.href = "seller_mypage_order?index="+arr[1];
    }
        

                                    
                                
        </script>

    </body>
</html>