<!DOCTYPE html>

<html>
    <head>
        <title>GIVVEN(기쁜)</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="public/css/seller_goods_detail.css">
    </head>
    <body>
        <div id = "wrap">
            <div id = "navbar">
                <div id = "first_navbar">
                    <div id = "logo">
                        <a href = "seller_mypage_main"><img src="public/images/logo.PNG"></a>
                    </div>
                    <ul id = "f_menu">
                        <li><a href="normal_donation_main"><b>로그아웃</b></a></li>
                    </ul>
                </div>
                <div id = "second_navbor">
                    <ul id = "s_menu">
                        <li><a href="seller_add_goods" id = "add_goods"><b>상품 등록</b></a></li>
                        <li><a href="seller_mypage_main" id = "go_mypage"><b>My Page</b></a></li>
                    </ul>
                     <a href="normal_donation_main" id = "change_normal"><b>일반 전환</b></a>
                </div>
            </div>

            <div id="container">
                <h2>품목 상세페이지</h2>
                <div id = "simple_info">
                    <div id = "image_container">
                    </div>
                    <div id = "goods_info">
                    <b class = "goods_explain">품목명</b>
                    <p id = "goods_name"></p>
                    <b class = "goods_explain">가격</b>
                    <p id = "goods_price"></p>
                    <b class = "goods_explain">재고수량</b>
                    <p id = "goods_stock"></p>
                    </div>
                </div>
                <b class = "goods_explain">품목 상세정보</b>
                <div id = "detail_container">
                    <p id = "goods_detail"></p>  
            </div>
        </div>
        </div>

         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

        <script>
        var index;
        $(document).ready(function () {
            
            index = location.href.substr(
                location.href.lastIndexOf('=') + 1
            );
            console.log('val : ' + index);
            $.ajax({
            type: 'GET',
            url: "/item/detail/"+index,
            dataType: 'json',
            xhrFields: {
                withCredentials: true
            },
            data: { }
        }).success(function (response) {
            $("#goods_name").append(response.data.name);
            $("#goods_stock").append(response.data.stock);
            $("#goods_price").append(response.data.price);
            $("#goods_detail").append(response.data.content.replace(/\r\n|\n|\r/g, '<br/>'));

            var img1 = document.createElement("img");
            img1.setAttribute("src", response.data.title_img);
            document.querySelector("#image_container").appendChild(img1);
        });
        })
        </script>
    </body>
</html>