* {
   box-sizing: border-box;
 }
 
 body {
  min-width: 1500px;
   text-align: center;
   background-color: #E2EEF9;
 }
 
 /* 네비게이션 바 */
 #navbar{
    width: 100%;
 }
 #top_navbar{
   width: 100%;
   height: 60px;
   background-color: white;
 }
 
 #top_navbar #logo{
   float: left;
   line-height: 60px;
   padding-left: 30px;
 }
 #top_navbar #logo img{
   height: 50px;
   vertical-align: middle;
 }

 #second_navbar{
   width: 100%;
   height: 60px;
   background-color: #C3D9F0;
 }
 
 #menu{
   float: right;
   padding: 0;
   padding-right: 30px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 
 #menu li{
   float: left;
 }
 
 #menu li:not(:last-child){
   margin-right: 30px;
 }
 
 #menu li a{
   color: black;
   font-size: 13px;
   text-decoration: none;
 }

 #second_navbar #menu{
   float: left;
   padding: 0;
   padding-left: 50px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 #second_navbar #menu li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
 }

 #second_navbar #menu li a{
   color: black;
   font-size: 20px;
   text-decoration: none;
 }

 #make_campaign b{
    color: #6683ef;
 }
 
 #change_normal {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    color: white;
    text-decoration: none;
    background-color: #6683ef;
    font-size: 20px;
    margin-right: -140px;
    border-radius: 10px;
 }

 #container {
   margin: 30px;
   padding: 30px;
   background-color: white;
   text-align: left;
 }
 
 #container h2{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom:3px solid #C3D9F0;
}

 #campaign_info{
   text-align: left;
 }

 #campaign_info .input_data{
   width: 50%;
   border: 0px;
   border-bottom:3px solid #6683ef;
   height: 40px;
 }

 #campaign_detail{
    width: 100%;
 }

 #inputImg{
   width: 500px;
   height: 300px;
 }

 .input-group{
   margin-right: 30px;
   margin-top: 10px;
   width: 500px;
   float: right;
   display: block;
 }


 .search_file {
   position: relative;
 }

.input_explain{
  margin-top: 50px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

 #campaign_info #campaign_name{
  margin-left: 20px;
   width: 650px;
 }

 #campaign_info #campaign_price{
  margin-left: 20px;
  width: 650px;
}

#campaign_info #campaign_end{
  margin-left: 20px;
  width: 650px;
}


#campaign_end select{
  margin-left: 10px;
  width: 30%;
  height: 20px;
  font-size: 15px;
}

#campaign_info #campaign_detail{
  margin-top: 20px;
  width: 97%;
  border :  3px solid #6683ef;
  height: 600px;
  margin-left: 20px;
}

.submit-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: #6683ef;
  border: 0;
  border-radius: 5px;
  padding : 10px;
  color: white;
  font-weight: bold;
}