* {
   box-sizing: border-box;
 }
 
 body {
   min-width: 1000px;
   text-align: center;
   background-color: #E2EEF9;
 }
 
 /* 네비게이션 바 */
 #navbar{
    width: 100%;
    position: fixed;
    z-index: 2;
    margin-top: -120px;
 }
 #top_navbar{
   width: 100%;
   height: 60px;
   background-color: white;
 }
 
 #top_navbar #logo{
   float: left;
   line-height: 60px;
   padding-left: 30px;
 }
 #top_navbar #logo img{
   height: 50px;
   vertical-align: middle;
 }

 #second_navbar{
   width: 100%;
   height: 60px;
   background-color: #C3D9F0;
 }
 
 #menu{
   float: right;
   padding: 0;
   padding-right: 30px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 
 #menu li{
   float: left;
 }
 
 #menu li:not(:last-child){
   margin-right: 30px;
 }
 
 #menu li a{
   color: black;
   font-size: 13px;
   text-decoration: none;
 }

 #second_navbar #menu{
   float: left;
   padding: 0;
   padding-left: 50px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 #second_navbar #menu li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
 }

 #second_navbar #menu li a{
   color: black;
   font-size: 20px;
   text-decoration: none;
 }

 #go_donate b{
    color: #6683ef;
 }
 
 #third_bar {
   width: 100%;
   height: 60px;
   margin-top: 120px;
   background-color: #ACB0BF;
 }

 #recommand_header{
    float: left;
    width: 40%;
    background-color: white;
    height: 50px;
    line-height: 50px;
    margin-left: 30px;
    margin-top : 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }

 #search-bar {
    float: right;
    line-height: 60px;
    margin-right: 30px;
 }
 .search-keyword{
    height: 40px;
    width: 400px;
    padding-left: 20px;
    vertical-align: middle;
    border: 2px solid #C3D9F0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .submit-btn {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: normal;
    background-color: #e2eef9;
    border: 2px solid #C3D9F0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -7px;

 }
 .submit-btn img {
    height: 20px;
    line-height: 40px;
 }


 #carouselIndicators {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    background-color:white;
 }

 .carousel-indicators li {
    background-color: #6683ef;
 }