* {
   box-sizing: border-box;
 }
 
 body {
   min-width: 1000px;
   text-align: center;
   background-color: #E2EEF9;
 }
 
 /* 네비게이션 바 */
 #navbar{
    width: 100%;
 }
 #top_navbar{
   width: 100%;
   height: 60px;
   background-color: white;
 }
 
 #top_navbar #logo{
   float: left;
   line-height: 60px;
   padding-left: 30px;
 }
 #top_navbar #logo img{
   height: 50px;
   vertical-align: middle;
 }

 #second_navbar{
   width: 100%;
   height: 60px;
   background-color: #C3D9F0;
 }
 
 #menu{
   float: right;
   padding: 0;
   padding-right: 30px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 
 #menu li{
   float: left;
 }
 
 #menu li:not(:last-child){
   margin-right: 30px;
 }
 
 #menu li a{
   color: black;
   font-size: 13px;
   text-decoration: none;
 }

 #second_navbar #menu{
   float: left;
   padding: 0;
   padding-left: 50px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 #second_navbar #menu li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
 }

 #second_navbar #menu li a{
   color: black;
   font-size: 20px;
   text-decoration: none;
 }

 #go_purchase b{
    color: #6683ef;
 }

 #container {
  width: 1300px;
  margin: 30px auto;
  padding: 30px;
  background-color: white;
  text-align: left;
  border-radius: 15px;
  border: 3px solid #C3D9F0;
}
#container h2{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom:3px solid #C3D9F0;
}

#simple_info{
  width: 100%;
  height: 350px;
}

#image_container{
  text-align: center;
  float: left;
  width: 600px;
  height: 300px;
}

#goods_info{
  float: right;
  width: 600px;
  height: 300px;
  padding-top: 20px;
}

#image_container img{
  max-width: 590px;
  max-height: 290px;
  min-width: 500px;
  min-height: 200px;
}

.goods_explain{
  display: block;
  text-align: left;
  font-size: 22px;
  padding: 5px 0px;
}

#goods_info > p{
  font-size: 30px;
  font-weight: bold;
}

#container > b{
  margin-left: 15px;
}

#detail_container{
  overflow:auto;
  width: 1200px;
  height: 800px;
  margin-left: 20px;
  margin-right:20px;
  padding: 10px;
  border-top: 4px solid #6683ef; 
  border-bottom: 4px solid #6683ef; 
  border-radius: 10px;
}

#goods_detail{
  font-size: 30px;
}