* {
   box-sizing: border-box;
 }
 
 body {
   min-width: 1000px;
   text-align: center;
   background-color: #E2EEF9;
 }
 
 /* 네비게이션 바 */
 #navbar{
    width: 100%;
 }
 #top_navbar{
   width: 100%;
   height: 60px;
   background-color: white;
 }
 
 #top_navbar #logo{
   float: left;
   line-height: 60px;
   padding-left: 30px;
 }
 #top_navbar #logo img{
   height: 50px;
   vertical-align: middle;
 }

 #second_navbar{
   width: 100%;
   height: 60px;
   background-color: #C3D9F0;
 }
 
 #menu{
   float: right;
   padding: 0;
   padding-right: 30px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 
 #menu li{
   float: left;
 }
 
 #menu li:not(:last-child){
   margin-right: 30px;
 }
 
 #menu li a{
   color: black;
   font-size: 13px;
   text-decoration: none;
 }

 #second_navbar #menu{
   float: left;
   padding: 0;
   padding-left: 50px;
   margin: 0;
   line-height: 60px;
   list-style-type: none;
 }
 #second_navbar #menu li{
   float: left;
   padding-left: 20px;
   padding-right: 20px;
 }

 #second_navbar #menu li a{
   color: black;
   font-size: 20px;
   text-decoration: none;
 }

 #go_donate b{
    color: #6683ef;
 }
 
 #third_bar {
   width: 100%;
   height: 60px;
   background-color: #ACB0BF;
 }

 #recommand_header{
    float: left;
    width: 40%;
    background-color: white;
    height: 50px;
    line-height: 50px;
    margin-left: -240px;
    margin-top : 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 }

 #search-bar {
    float: right;
    line-height: 60px;
    margin-right: 30px;
 }
 .search-keyword{
    height: 40px;
    width: 400px;
    padding-left: 20px;
    vertical-align: middle;
    border: 2px solid #C3D9F0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .submit-btn {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: normal;
    background-color: #e2eef9;
    border: 2px solid #C3D9F0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -7px;

 }
 .submit-btn img {
    height: 20px;
    line-height: 40px;
 }


 #carouselIndicators {
    height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    background-color:white;
 }

 .carousel-indicators li {
    background-color: #6683ef;
 }

 .carousel-inner{
   margin-left: auto;
   margin-right: auto;
   height: 500px;
   width: 70%;
   border-radius: 15px;
   padding-top: 10px;
 }

 .carousel-inner .items{
   text-align: left;

 }
#first{
  padding: 30px;
  padding-top: 140px;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#second{
  padding: 30px;
  padding-top: 140px;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#third{
  padding: 30px;
  padding-top: 140px;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.items{
  border: 0px;
}
.items h2{
   font-size: 40px;
   font-weight: 800;
 }

 .items p{
   margin-top: 40px;
   font-weight: 800;
   font-size: 20px;
 }

 .items .progress{
   height: 60px;
   font-size: 30px;
   font-weight: 700;
 }

 #container {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#allCampaigns {
    background-color: white;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
}

#allCampaigns a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  text-align: left;
}
#allCampaigns a b {
  font-size: 30px;
}

#finishCampaigns {
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
}

#finishCampaigns a {
  margin-left: 20px;
  color: black;
  text-decoration: none;
  text-align: left;
}

#finishCampaigns a b {
  font-size: 30px;
}

#container h3{
  text-overflow: ellipsis;
}

.card_list{
  margin-top: 20px;
}

.card{
  float: left;
  width: 400px;
  display: block;
  margin-left: 45px;
  margin-bottom: 45px;
  background-color: white;
  border: 4px solid#6683ef;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  background-color: #C3D9F0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .menu{
  padding: 20px;
  text-align: left;
}

.card .menu h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.card .menu .campaign_name h4 {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.card .menu p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.card .menu .campaign_name p {
  margin-top: -2px;
  font-weight: bold;
  font-size: 15px;
}

.card .progress {
  height: 20px;
  margin-top: 20px;
}