* {
    box-sizing: border-box;
    border-radius: 5px;
    border : 0px;
}

  body {
    min-width: 1000px;
    text-align: center;
    background-color: #E2EEF9;
}

#wrap {
    min-width: 1000px;
}

#navbar{
    width: 100%;
}

#first_navbar{
    width: 100%;
    height: 60px;
    background-color: white;
}

#logo{
    float: left;
    line-height: 60px;
    padding-left: 30px;
}

#logo img{
    height: 50px;
    vertical-align: middle;
}

#f_menu{
    float: right;
    padding: 0;
    padding-right: 30px;
    margin: 0;
    line-height: 60px;
    list-style-type: none;
}

#f_menu a{
    float: right;
    color: black;
    font-size: 13px;
    text-decoration: none;
}

#second_navbor{
    width: 100%;
    height: 60px;
    background-color: #C3D9F0;
}

#s_menu{
    float: left;
    padding: 0;
    padding-left: 50px;
    margin: 0;
    line-height: 60px;
    list-style-type: none;
}

#s_menu li{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

#s_menu li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#add_goods b{
    color: #6683ef
}

#change_normal {
    height: 60px;
    margin-right: 30px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    color: white;
    text-decoration: none;
    background-color: #6683ef;
    font-size: 20px;
    border-radius: 10px;
 }

 #state{
    height: 100px;
    width: 100%;
    font-size: 50px;
    padding-top:30px;
    float: left;
}

 #input_section{
     margin-top: 170px;
     padding-left: 100px;
     padding-right: 100px;
     width: 100%;
 }

 #back_ground{
     display: block;
     text-align: left;
     background-color: white;
     padding-top: 20px;
     padding-bottom: 40px;
 }

 #image_container{
    text-align: center;
}

 #add_img{
     float: right;
     margin-top: 10px;
     margin-bottom: 20px;
     margin-left: 20px;
}

.goods_info{
    display: block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.text-field{
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 30%;
    font-size:20px;
}

#goods_detail{
    display: block;
    resize: none;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 500px;
}

 #submit{
    display: block;
    width: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C3D9F0;
    border-radius: 10px;
    
 }
